body{
	font-family: Arial;
	font-size: 12px;
	background: #eeeeee;
	width: 1300px;
	margin: 0 auto;
}
p, ul, li, h2{
	margin: 0;
	padding: 0;
}
.list-content{
	margin: 30px 0 70px;
}
h2{
	margin-bottom: 10px;
	font-size: 22px;
}
li{
	display: inline-block;
	margin-left: 30px;
    list-style-type: none;

    &:first-child{
    	margin: 0;
    }
}

img{
	width: 120px;
}
li p{
	width: 150px;
	font-size: 12px;
	color: #004B91;
	cursor: pointer;
}
.books-selected{
	margin-bottom: 20px;
}
.price-book{
	margin-top: 2px;
	font-size: 14px;
	color: #900;
}
.panier{
	position: relative;
	width: 300px;
	padding: 10px;
	border: 1px solid #ddd;
	background: #fff;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
}
.panier p{
	margin-bottom: 4px;
}
.panier .quantite{
	float: right;
}
.panier .prix{
	margin-left: 10px;
}
.panier .vider-panier{
	position: absolute;
	top: 0;
	right: 0;
}